# Core development requirements for TensorFlow Quantum. This file is processed
# by pip-compile (from pip-tools) to produce requirements.txt.

cirq-core~=1.3.0
cirq-google~=1.3.0
tensorflow>=2.16,<2.17
tf-keras~=2.16.0

# TODO: the next ones are not truly core requirements. A better place should be
# found for them (long with others needed by scripts/*). They're here as a
# stop-gap measure until then.
yapf==0.43.0
pylint==3.3.3
nbformat==5.1.3
nbclient==0.6.5
tensorflow-docs
