# Copyright 2025 The TensorFlow Quantum Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Summary: GitHub CI workflow for testing TFQ against Cirq releases
#
# This workflow is executed every night on a schedule. By default, this
# workflow will save Bazel build artifacts if an error occurs during a run.
# For testing, this workflow can be invoked manually.

# yamllint disable rule:line-length

name: Nightly Cirq compatibility test
run-name: 'Nightly build and test against latest dev version of Cirq'

on:
  schedule:
    - cron: '10 7 * * *'

  # Manual on-demand invocations.
  workflow_dispatch:
    inputs:
      runner:
        description: 'GitHub job runner to use:'
        default: linux-x86-n2-32
      save_artifacts:
        description: 'Make Bazel outputs downloadable:'
        type: boolean
        default: true
      debug:
        description: 'Run with debugging options'
        type: boolean
        default: true

env:
  # Additional .bazelrc options to use.
  bazelrc_additions: |
    common --announce_rc
    build --verbose_failures
    test --test_timeout=3000

concurrency:
  # Cancel any previously-started but still active runs on the same branch.
  cancel-in-progress: true
  group: ${{github.workflow}}-${{github.event.pull_request.number||github.ref}}

permissions: read-all

jobs:
  test-compatibility:
    name: Build and test with latest Cirq
    runs-on: ${{inputs.runner}}
    timeout-minutes: 60
    steps:
      - name: Check out a copy of the TFQ git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: '3.10.15'
          cache: pip

      - name: Set up Bazel
        uses: bazel-contrib/setup-bazel@529dbc2648ea79358c64f2bfa5f3ec98f07859e4 # 0.12.1
        with:
          bazelisk-cache: true
          repository-cache: true
          bazelrc: |
            ${{env.bazelrc_additions}}
            test --cache_test_results=no

      - name: Install TensorFlow Quantum dependencies
        run: pip install -r requirements.txt

      - name: Turn on debug tracing
        if: inputs.debug || runner.debug
        run: set -x

      - name: Install the nightly build version of Cirq
        run: |
          echo 'numpy<2.0.0' > constraint.txt
          export PIP_CONSTRAINT=constraint.txt
          pip install --upgrade cirq~=1.0.dev

      - name: Configure TFQ
        run: |
          # Save information to the run log, in case it's needed for debugging.
          which python
          python --version
          python -c 'import site; print(site.getsitepackages())'
          python -c 'import tensorflow; print(tensorflow.version.VERSION)'
          python -c 'import cirq; print(cirq.__version__)'
          # Run the TFQ configuration script.
          printf "Y\n" | ./configure.sh

      - name: Run TFQ tests
        # TODO: when the msan tests work again, add ./scripts/msan_test.sh.
        run: ./scripts/test_all.sh

      - if: failure() || inputs.save_artifacts == 'true'
        name: Make artifacts downloadable
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4
        with:
          name: bazel-out
          retention-days: 7
          include-hidden-files: true
          path: |
            /home/runner/.bazel/execroot/__main__/bazel-out/
            !/home/runner/.bazel/execroot/__main__/bazel-out/**/*.so
            !/home/runner/.bazel/execroot/__main__/bazel-out/**/*.o
            !/home/runner/.bazel/execroot/__main__/bazel-out/**/_objs
            !/home/runner/.bazel/execroot/__main__/bazel-out/**/_solib_k8
